html {
    height: 100%;
    background: radial-gradient(circle, #FDEBF7,#ce4fda);
}
h1 {
    text-align: center;
    /*color: #6A5495;*/
    color: #3d0442;
    padding-top: 20px;
}
hr {
    width: 40%;
    color: #150366;
    
}
#main-container {
    width: 650px;
    height: 450px;
    background: linear-gradient(#F4BEEE,#b537d1);
    margin: 80px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px #781C68;
    -moz-box-shadow: 10px 10px 5px 0px #781C68;
    -webkit-box-shadow: 10px 10px 5px 0px #781C68;
    position: relative;
}
/*#EF2F88;*/
#score {
    background-color: #b537d1;
    color: white;
    padding: 15px;
    position: absolute;
    left: 500px;
    box-shadow: 5px 5px 2px 0px #781C68;
    border-radius: 3px;
}

#question {
    width: 550px;
    height: 50px;
    margin: 65px auto 10px;
    background: linear-gradient(#FB7AFC,#EF2F88);
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    line-height: 45px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px #781C68;
}

#instruction {
    width: 550px;
    height: 50px;
    margin: 20px auto 40px;
    background: linear-gradient(#FB7AFC,#EF2F88);
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    line-height: 45px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px #781C68;
}

#choices {
    width: 550px;
    height: 50px;
    margin: 20px auto;
}

.box {
    width: 105px;
    height: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    background: linear-gradient(#FB7AFC,#EF2F88);
    box-shadow: 5px 5px 5px 0px #781C68;
    border-radius: 5px;
    border: 1px solid #781C68;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
}

.box:hover {
    font-size: 22px;
    
}

#start-reset {
    width: 120px;
    height: 40px;
    font-size: 22px;
    background: linear-gradient(#b8b2b6,#0cb971);
    box-shadow: 5px 5px 5px 0px #781C68;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 40px;
    padding: 10px;
    margin: 30px auto;
}